In [1]:
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import pandas as pd
from collections import Counter
from IPython.core.interactiveshell import InteractiveShell
import warnings
from pandas import read_csv
from sklearn.neighbors import KNeighborsClassifier
from sklearn.neighbors import LocalOutlierFactor
from sklearn import preprocessing
from statsmodels.genmod.generalized_linear_model import GLM
from pandas.plotting import scatter_matrix
from scipy.stats import boxcox

InteractiveShell.ast_node_interactivity = "all"
#pd.set_option('precision', 3)
display.precision = 3
sns.set()
warnings.filterwarnings('ignore')

In [17]:
df_results = pd.read_csv("Datathon_Results_MOBILITY_2022_original_Students.csv", delimiter=",")

In [19]:
df_results.shape

(1448, 22)

In [21]:
def data_explore(dataframe):
    print("DATA EXPLORATION")
    print('*'*70)
    print("Shape of dataset : ",dataframe.shape)
    print('*'*70)
    print(dataframe.info())
    print('*'*70)
    print("STATISTICAL ANALYSIS OF NUMERICAL DATA")
    print('*'*70)
    print(dataframe.describe().T)
    print('*'*70)
    print("STATISTICAL ANALYSIS OF CATEGORICAL DATA")
    print('*'*70)
    print(dataframe.describe(exclude = ['float', 'int64']).T)
    print('*'*70)
    print("MISSING VALUES")
    print('*'*70)
    print(dataframe.isna().sum().sort_values(ascending=False))
    print('*'*70)
    print("MISSING VALUES IN %")
    print('*'*70)
    print(round(100* (dataframe.isnull().sum() / len(dataframe)).sort_values(ascending=False),2))
    print('*'*70)

In [22]:
df_results.columns = ["id","id_2","gender","center","year","days","postal","s1","s2","s3","same_route",
                      "s1back","s2back","s3back","r_fastest","r_cheapest","r_confortable","r_onlyoption",
                      "r_environmental","r_healthiest","r_needprivate","r_other"]

df_results = df_results.iloc[:, 2:]

In [23]:
df_results = df_results.dropna(subset=["postal"])
df_results["gender"].unique()

array(['Man', 'Woman', 'Non binary', 'NR/DK'], dtype=object)

In [24]:
df_results.shape

(1400, 20)

In [25]:

df_results['center'] = df_results['center'].str.extract(r'\((.*?)\)')
df_results["center"]

0        ESEIAAT
1          ETSAB
2         ETSEIB
3          EPSEM
4          ETSAB
          ...
1443         FIB
1444       EPSEB
1445         FME
1446        FOOT
1447    ETSECCPB
Name: center, Length: 1400, dtype: object

In [26]:
df_results["same_route"].unique()

array(['No', 'Yes'], dtype=object)

In [27]:
trajectes = ["s1","s2","s3","s1back","s2back","s3back"]

for item in trajectes:
    df_results.loc[df_results[item] == 'Combustion vehicle (non-plug-in hybrid, electric or plug-in hybrid with non-renewable source charging),', item] = 'private'
    df_results.loc[df_results[item] == 'Renfe', item] = 'public'
    df_results.loc[df_results[item] == 'On foot', item] = 'active'
    df_results.loc[df_results[item] == 'Underground', item] = 'public'
    df_results.loc[df_results[item] == 'FGC', item] = 'public'
    df_results.loc[df_results[item] == 'Bicycle', item] = 'active'
    df_results.loc[df_results[item] == 'Tram', item] = 'public'
    df_results.loc[df_results[item] ==  'Scooter (or other micro-mobility devices) with renewable charging', item] = 'private'
    df_results.loc[df_results[item] == 'Taxi',item] = 'private'
    df_results.loc[df_results[item] == 'Electric vehicle (with Zero label and renewable source charging)', item] = 'private'
    df_results.loc[df_results[item] == 'Scooter (or other micro-mobility devices) with non-renewable charging', item] = 'private'
    df_results.loc[df_results[item] == 'Electric motorcycle', item] = 'private'
    df_results.loc[df_results[item] == 'Combustion or electric motorcycle with non-renewable source charging', item] = 'private'
    df_results.loc[df_results[item] == 'Bus', item] = 'public'

In [28]:
df_results["same_route"].unique()

array(['No', 'Yes'], dtype=object)

In [29]:
relevant_columns = ['s1', 's2', 's3', 's1back', 's2back', 's3back']

df_results[relevant_columns] = df_results[relevant_columns].replace('nan', np.nan)

In [30]:
def sum_non_nan(row):
    non_null_count = sum(1 if pd.notnull(row[col]) else 0 for col in relevant_columns)
    return non_null_count

# Apply the function row-wise to create a new column 'sum_non_nan_values'
df_results['total_travels'] = df_results.apply(sum_non_nan, axis=1)

In [31]:
df_results['total_travels'].head()

0    4
1    3
2    3
3    3
4    2
Name: total_travels, dtype: int64

In [32]:
# For each S1, ... S6, add the total values of value counts together

private_counts = df_results[relevant_columns].apply(lambda row: row.eq('private').sum(), axis=1)
public_counts = df_results[relevant_columns].apply(lambda row: row.eq('public').sum(), axis=1)
active_counts = df_results[relevant_columns].apply(lambda row: row.eq('active').sum(), axis=1)

df_results['private_ratio'] = private_counts / df_results['total_travels']
df_results['public_ratio'] = public_counts / df_results['total_travels']
df_results['active_ratio'] = active_counts / df_results['total_travels']

comprovar = df_results[["private_ratio",'public_ratio','active_ratio',"total_travels"]]
comprovar.head()

   private_ratio  public_ratio  active_ratio  total_travels
0       0.250000      0.500000          0.25              4
1       1.000000      0.000000          0.00              3
2       0.333333      0.666667          0.00              3
3       0.000000      0.000000          1.00              3
4       0.000000      1.000000          0.00              2

In [33]:
df_results.shape

(1400, 24)

In [34]:
df_results = df_results.dropna(subset=["postal"])
df_results["gender"].unique()

array(['Man', 'Woman', 'Non binary', 'NR/DK'], dtype=object)

In [35]:
trajectes = ["s1","s2","s3","s1back","s2back","s3back"]

for item in trajectes:
    df_results.loc[df_results[item] == 'Combustion vehicle (non-plug-in hybrid, electric or plug-in hybrid with non-renewable source charging),', item] = 'private'
    df_results.loc[df_results[item] == 'Renfe', item] = 'public'
    df_results.loc[df_results[item] == 'On foot', item] = 'active'
    df_results.loc[df_results[item] == 'Underground', item] = 'public'
    df_results.loc[df_results[item] == 'FGC', item] = 'public'
    df_results.loc[df_results[item] == 'Bicycle', item] = 'active'
    df_results.loc[df_results[item] == 'Tram', item] = 'public'
    df_results.loc[df_results[item] ==  'Scooter (or other micro-mobility devices) with renewable charging', item] = 'private'
    df_results.loc[df_results[item] == 'Taxi'] = 'private'
    df_results.loc[df_results[item] == 'Electric vehicle (with Zero label and renewable source charging)', item] = 'private'
    df_results.loc[df_results[item] == 'Scooter (or other micro-mobility devices) with non-renewable charging', item] = 'private'
    df_results.loc[df_results[item] == 'Electric motorcycle', item] = 'private'
    df_results.loc[df_results[item] == 'Combustion or electric motorcycle with non-renewable source charging', item] = 'private'
    df_results.loc[df_results[item] == 'Bus', item] = 'public'

In [36]:
def sum_non_nan(row):
    non_null_count = sum(1 if pd.notnull(row[col]) else 0 for col in relevant_columns)
    return non_null_count

# Apply the function row-wise to create a new column 'sum_non_nan_values'
df_results['total_travels'] = df_results.apply(sum_non_nan, axis=1)

In [37]:
# For each S1, ... S6, add the total values of value counts together

private_counts = df_results[relevant_columns].apply(lambda row: row.eq('private').sum(), axis=1)
public_counts = df_results[relevant_columns].apply(lambda row: row.eq('public').sum(), axis=1)
active_counts = df_results[relevant_columns].apply(lambda row: row.eq('active').sum(), axis=1)

df_results['private_ratio'] = private_counts / df_results['total_travels']
df_results['public_ratio'] = public_counts / df_results['total_travels']
df_results['active_ratio'] = active_counts / df_results['total_travels']

In [38]:
data_explore(df_results)

DATA EXPLORATION
**********************************************************************
Shape of dataset :  (1400, 24)
**********************************************************************
<class 'pandas.core.frame.DataFrame'>
Index: 1400 entries, 0 to 1447
Data columns (total 24 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   gender           1400 non-null   object
 1   center           1400 non-null   object
 2   year             1400 non-null   object
 3   days             1400 non-null   int64
 4   postal           1400 non-null   float64
 5   s1               1332 non-null   object
 6   s2               1082 non-null   object
 7   s3               889 non-null    object
 8   same_route       1400 non-null   object
 9   s1back           156 non-null    object
 10  s2back           135 non-null    object
 11  s3back           106 non-null    object
 12  r_fastest        1400 non-null   object
 13  r_cheapest       1400 non-null   object
 14  r_confortable    1400 non-null   object
 15  r_onlyoption     1400 non-null   object
 16  r_environmental  1400 non-null   object
 17  r_healthiest     1400 non-null   object
 18  r_needprivate    1400 non-null   object
 19  r_other          51 non-null     object
 20  total_travels    1400 non-null   int64
 21  private_ratio    1381 non-null   float64
 22  public_ratio     1381 non-null   float64
 23  active_ratio     1381 non-null   float64
dtypes: float64(4), int64(2), object(18)
memory usage: 273.4+ KB
None
**********************************************************************
STATISTICAL ANALYSIS OF NUMERICAL DATA
**********************************************************************
                count         mean          std  min     25%          50%  \
days           1400.0     4.225714     1.162518  1.0     4.0     5.000000
postal         1400.0  9048.147143  5274.466268  0.0  8027.0  8205.000000
total_travels  1400.0     2.642857     1.264637  0.0     2.0     3.000000
private_ratio  1381.0     0.193990     0.360616  0.0     0.0     0.000000
public_ratio   1381.0     0.434033     0.362369  0.0     0.0     0.333333
active_ratio   1381.0     0.371977     0.344081  0.0     0.0     0.333333

                       75%      max
days              5.000000      7.0
postal         8760.000000  83293.0
total_travels     3.000000      6.0
private_ratio     0.333333      1.0
public_ratio      0.666667      1.0
active_ratio      0.666667      1.0
**********************************************************************
STATISTICAL ANALYSIS OF CATEGORICAL DATA
**********************************************************************
                count unique  \
gender           1400      4
center           1400     16
year             1400      4
s1               1332      3
s2               1082      3
s3                889      3
same_route       1400      2
s1back            156      3
s2back            135      3
s3back            106      3
r_fastest        1400      2
r_cheapest       1400      2
r_confortable    1400      2
r_onlyoption     1400      2
r_environmental  1400      2
r_healthiest     1400      2
r_needprivate    1400      2
r_other            51     51

                                                               top  freq
gender                                                         Man   876
center                                                         FIB   182
year                                                         First   460
s1                                                          active   630
s2                                                          public   739
s3                                                          active   440
same_route                                                     Yes  1237
s1back                                                      active    72
s2back                                                      public    97
s3back                                                      active    52
r_fastest                                                      Yes   876
r_cheapest                                                      No   949
r_confortable                                                   No   964
r_onlyoption                                                    No  1149
r_environmental                                                 No  1274
r_healthiest                                                    No  1339
r_needprivate                                                   No  1315
r_other          During peak hours and for a one-way trip, it t...     1
**********************************************************************
MISSING VALUES
**********************************************************************
r_other            1349
s3back             1294
s2back             1265
s1back             1244
s3                  511
s2                  318
s1                   68
active_ratio         19
public_ratio         19
private_ratio        19
r_onlyoption          0
total_travels         0
r_needprivate         0
r_healthiest          0
r_environmental       0
gender                0
r_confortable         0
r_cheapest            0
center                0
same_route            0
postal                0
days                  0
year                  0
r_fastest             0
dtype: int64
**********************************************************************
MISSING VALUES IN %
**********************************************************************
r_other            96.36
s3back             92.43
s2back             90.36
s1back             88.86
s3                 36.50
s2                 22.71
s1                  4.86
active_ratio        1.36
public_ratio        1.36
private_ratio       1.36
r_onlyoption        0.00
total_travels       0.00
r_needprivate       0.00
r_healthiest        0.00
r_environmental     0.00
gender              0.00
r_confortable       0.00
r_cheapest          0.00
center              0.00
same_route          0.00
postal              0.00
days                0.00
year                0.00
r_fastest           0.00
dtype: float64
**********************************************************************

In [39]:
df_results = df_results.dropna(subset=["private_ratio"])

In [40]:
data_explore(df_results)

DATA EXPLORATION
**********************************************************************
Shape of dataset :  (1381, 24)
**********************************************************************
<class 'pandas.core.frame.DataFrame'>
Index: 1381 entries, 0 to 1447
Data columns (total 24 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   gender           1381 non-null   object
 1   center           1381 non-null   object
 2   year             1381 non-null   object
 3   days             1381 non-null   int64
 4   postal           1381 non-null   float64
 5   s1               1332 non-null   object
 6   s2               1082 non-null   object
 7   s3               889 non-null    object
 8   same_route       1381 non-null   object
 9   s1back           156 non-null    object
 10  s2back           135 non-null    object
 11  s3back           106 non-null    object
 12  r_fastest        1381 non-null   object
 13  r_cheapest       1381 non-null   object
 14  r_confortable    1381 non-null   object
 15  r_onlyoption     1381 non-null   object
 16  r_environmental  1381 non-null   object
 17  r_healthiest     1381 non-null   object
 18  r_needprivate    1381 non-null   object
 19  r_other          47 non-null     object
 20  total_travels    1381 non-null   int64
 21  private_ratio    1381 non-null   float64
 22  public_ratio     1381 non-null   float64
 23  active_ratio     1381 non-null   float64
dtypes: float64(4), int64(2), object(18)
memory usage: 269.7+ KB
None
**********************************************************************
STATISTICAL ANALYSIS OF NUMERICAL DATA
**********************************************************************
                count         mean          std  min     25%          50%  \
days           1381.0     4.236061     1.150628  1.0     4.0     5.000000
postal         1381.0  8978.108617  4889.175078  0.0  8027.0  8204.000000
total_travels  1381.0     2.679218     1.234437  1.0     2.0     3.000000
private_ratio  1381.0     0.193990     0.360616  0.0     0.0     0.000000
public_ratio   1381.0     0.434033     0.362369  0.0     0.0     0.333333
active_ratio   1381.0     0.371977     0.344081  0.0     0.0     0.333333

                       75%      max
days              5.000000      7.0
postal         8758.000000  80826.0
total_travels     3.000000      6.0
private_ratio     0.333333      1.0
public_ratio      0.666667      1.0
active_ratio      0.666667      1.0
**********************************************************************
STATISTICAL ANALYSIS OF CATEGORICAL DATA
**********************************************************************
                count unique  \
gender           1381      4
center           1381     16
year             1381      4
s1               1332      3
s2               1082      3
s3                889      3
same_route       1381      2
s1back            156      3
s2back            135      3
s3back            106      3
r_fastest        1381      2
r_cheapest       1381      2
r_confortable    1381      2
r_onlyoption     1381      2
r_environmental  1381      2
r_healthiest     1381      2
r_needprivate    1381      2
r_other            47     47

                                                               top  freq
gender                                                         Man   868
center                                                         FIB   181
year                                                         First   454
s1                                                          active   630
s2                                                          public   739
s3                                                          active   440
same_route                                                     Yes  1218
s1back                                                      active    72
s2back                                                      public    97
s3back                                                      active    52
r_fastest                                                      Yes   869
r_cheapest                                                      No   932
r_confortable                                                   No   950
r_onlyoption                                                    No  1133
r_environmental                                                 No  1256
r_healthiest                                                    No  1320
r_needprivate                                                   No  1298
r_other          During peak hours and for a one-way trip, it t...     1
**********************************************************************
MISSING VALUES
**********************************************************************
r_other            1334
s3back             1275
s2back             1246
s1back             1225
s3                  492
s2                  299
s1                   49
gender                0
r_onlyoption          0
public_ratio          0
private_ratio         0
total_travels         0
r_needprivate         0
r_healthiest          0
r_environmental       0
r_fastest             0
r_confortable         0
r_cheapest            0
center                0
same_route            0
postal                0
days                  0
year                  0
active_ratio          0
dtype: int64
**********************************************************************
MISSING VALUES IN %
**********************************************************************
r_other            96.60
s3back             92.32
s2back             90.22
s1back             88.70
s3                 35.63
s2                 21.65
s1                  3.55
gender              0.00
r_onlyoption        0.00
public_ratio        0.00
private_ratio       0.00
total_travels       0.00
r_needprivate       0.00
r_healthiest        0.00
r_environmental     0.00
r_fastest           0.00
r_confortable       0.00
r_cheapest          0.00
center              0.00
same_route          0.00
postal              0.00
days                0.00
year                0.00
active_ratio        0.00
dtype: float64
**********************************************************************

In [41]:
df_results = df_results.drop(columns = ["s1",'s2','s3','s1back','s2back','s3back','r_other'])

In [43]:
df_results.to_csv("preprocessed_be.csv", index=False)

TypeError: 'Index' object is not callable

In [ ]:
data_explore(df_results)

In [ ]:
data_explore(df_students2)